/* Resets */
body,
html {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
span,
li {
  /* Don't rely on default text sizing */
  font-size: 1em;
  font-weight: normal;
  font-family: sans-serif;
  color: unset;
}

/* General */

body {
  background-color: rgb(240, 240, 240);
}

.hidden {
  display: none !important;
}
.fade-in {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
