@media only screen and (min-width: 1100px) {
  div.welcomeBar {
    grid-column: 1 / 13;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 1.5em;
    box-shadow: 0.2em 0.2em 1em black;
  }

  div.welcomeBar img {
    min-height: 65vh;
    height: 100%;
    background-image: linear-gradient(-0.125turn, darkblue, indigo 70%);
    border-top-left-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
  }

  div.welcomeBar div {
    margin: 2em;
  }

  div.welcomeBar div h1 {
    font-family: 'Roboto';
    font-weight: 800;
    font-size: 2em;
    margin: 0px;
  }

  div.welcomeBar div p {
    font-family: 'Roboto';
    font-weight: 800;
    font-size: 1em;
  }
}

@media only screen and (max-width: 1100px) {
  div.welcomeBar {
    margin: -0.75em;
    grid-column: 1 / 13;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 1.5em;
    box-shadow: 0.2em 0.2em 1em black;
  }

  div.welcomeBar img {
    height: 12em;
    margin: 1em;
    margin-top: 1.5em;
    background-image: linear-gradient(-0.125turn, darkblue, indigo 70%);
    border-radius: 1000em;
    margin-bottom: 1em;
  }

  div.welcomeBar div {
    margin: 1em;
  }

  div.welcomeBar div h1 {
    font-family: 'Roboto';
    font-weight: 800;
    font-size: 1.5em;
    margin: 0px;
  }

  div.welcomeBar div p {
    font-family: 'Roboto';
    font-weight: 800;
    font-size: 1em;
  }
}

@media only screen and (max-width: 800px) {
  div.welcomeBar img {
    width: 100%;
    height: auto;
    background-image: linear-gradient(-0.125turn, darkblue, indigo 75%);
    border-top-right-radius: 1.5em;
    border-top-left-radius: 1.5em;
    border-bottom-left-radius: 0em;
    border-bottom-right-radius: 0em;
    margin: 0px;
  }
}

a.link {
  color: blue;
}

a.link:hover {
  color: darkblue;
}
